<% if @user.errors.any? %>
  <div>
    <p>
      <%= pluralize(@user.errors.count, "error") %> prevented the user from being created.
    </p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :username, "Username:" %>
    <%= f.text_field :username, placeholder: "username" %>
  </div>
  <div>
    <%= f.label :email, "Email:" %>
    <%= f.email_field :email, placeholder: "youremail@email.com" %>
  </div>
  <div>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password, placeholder: "supersecret" %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
